/* 
    time：2020-11-19
    author：lazypig
    content：封装属于自己的动画库
*/
.animate {
    animation-duration: .8s;
}

.animation-delay {
    animation-delay: 0.5s;
}

.animate_bounce {
    animation-name: bounce;
}

.animate_flash {
    
    animation:flash .8s infinite;
}
@keyframes bounce {

    /* 分析动画过程并实现 */
    /* 0% 30 60 100 */
    0% {
        transform: translateY(-30px);
    }

    20% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}
@keyframes flash {

    /* 分析动画过程并实现 */
    /* 0% 30 60 100 */
    0% {
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }


    100% {
        opacity: 1;
    }

}